<div class='border p-3 rounded-xl'>
  <p>
    Title:
    {{title}}
  </p>
  <p>
    Price:
    {{price}}
  </p>
  <p>
    Category:
    {{category}}
  </p>

  <div class="rating gap-1">
    <tr>
      {{{get_stars rating.rate}}}
    </tr>
  </div>
  
  <p>
    {{rating.rate}} out of 5 stars 
  </p>
  <p>
    {{rating.count}} total reviews
  </p>

  <img src={{image}} alt='product image' />

  <a href='/product/{{id}}'>View product</a>
</div>