<div class='border p-3 rounded-xl'>
  <p>
    Title:
    {{title}}

  </p>
  <p>
    Price:
    {{price}}
  </p>
  <p>
    Category:
    {{category}}
  </p>
  <img src={{image}} alt='product image' />

  <a href='/product/{{id}}'>View product</a>
</div>